In [5]:
import pandas as pd,numpy as np
import nltk 
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv('attachment_sms_spam.xls')
df.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.type = np.where(df.type=='ham',0,1)
df.head()

   type                                               text
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [19]:
df.shape

(5574, 2)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
stop_words = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True, lowercase=True, strip_accents='ascii', stop_words=stop_words)

In [11]:
x = df.text
y = df.type

In [13]:
print(x[:3])

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
Name: text, dtype: object

In [14]:
split_words = df.text[0].split()
split_words

['Go',
 'until',
 'jurong',
 'point,',
 'crazy..',
 'Available',
 'only',
 'in',
 'bugis',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet...',
 'Cine',
 'there',
 'got',
 'amore',
 'wat...']

In [15]:
x = vectorizer.fit_transform(x)
x[:3]

<3x8586 sparse matrix of type '<class 'numpy.float64'>'
	with 40 stored elements in Compressed Sparse Row format>

In [18]:
print(x)

  (0, 3536)	0.157007081754
  (0, 4316)	0.346618507365
  (0, 5877)	0.271112407449
  (0, 2316)	0.268435314342
  (0, 1301)	0.259262848334
  (0, 1746)	0.292826876444
  (0, 3620)	0.191478486224
  (0, 8428)	0.234464974042
  (0, 4442)	0.292826876444
  (0, 1744)	0.330885463894
  (0, 2038)	0.292826876444
  (0, 3580)	0.162503470218
  (0, 1074)	0.346618507365
  (0, 8218)	0.19367543857
  (1, 5466)	0.271904356737
  (1, 4478)	0.40832852092
  (1, 4284)	0.523676940648
  (1, 8333)	0.43163099771
  (1, 5493)	0.546619596648
  (2, 3340)	0.115320169481
  (2, 2931)	0.359896660588
  (2, 8387)	0.190494430075
  (2, 2155)	0.194434864293
  (2, 8345)	0.14768604534
  (2, 3068)	0.469624036013
  :	:
  (5569, 165)	0.333044212322
  (5569, 5384)	0.333044212322
  (5570, 3876)	0.365214463735
  (5570, 3549)	0.364245518179
  (5570, 3327)	0.559707406701
  (5570, 2963)	0.648591718147
  (5571, 5098)	0.506899955069
  (5571, 5808)	0.609529505254
  (5571, 7334)	0.609529505254
  (5572, 3340)	0.179303990426
  (5572, 8264)	0.21049614692
  (5572, 4582)	0.179303990426
  (5572, 5301)	0.236127064534
  (5572, 8018)	0.234745845543
  (5572, 7013)	0.230850972963
  (5572, 2873)	0.27431713593
  (5572, 3454)	0.309466659265
  (5572, 1780)	0.318058189571
  (5572, 3674)	0.272637937356
  (5572, 4136)	0.318058189571
  (5572, 912)	0.365094259037
  (5572, 1541)	0.382453872786
  (5573, 5210)	0.486648074447
  (5573, 7836)	0.530287335584
  (5573, 6467)	0.694239867305

In [21]:
from sklearn.model_selection import train_test_split
xtr, xts, ytr, yts = train_test_split(x,y, test_size=0.3, random_state=0)

In [25]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()
model = mnb.fit(xtr, ytr)
ypr = mnb.predict(xts)

In [26]:
from sklearn.metrics import confusion_matrix,accuracy_score,roc_auc_score
cm = confusion_matrix(yts, ypr)
acc = accuracy_score(yts, ypr)
auc= roc_auc_score(yts, ypr)

In [27]:
cm

array([[1431,    0],
       [  64,  178]], dtype=int64)

In [28]:
acc

0.96174536760310814

In [29]:
auc

0.86776859504132231

In [31]:
from sklearn.model_selection import cross_val_score
cv_scores = cross_val_score(mnb, xtr, ytr, cv=10, scoring='accuracy')
cv_scores.mean()

0.96129301411479473