In [3]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

train = pd.read_csv('titanic_train.csv')
test = pd.read_csv('titanic_test.csv')

train.shape
test.shape

(891, 12)

(418, 11)

In [12]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
# selected columns for analysis :"Fare", "Pclass", "Sex", "Age", "SibSp"
train['Sex']=train['Sex'].apply(lambda sex:0 if sex=='male' else 1)

cols = ["Fare", "Pclass", "Sex", "Age", "SibSp"]
x = train[cols].values
y = train['Survived'].values

In [19]:
x # verify x is having Nans or not

array([[  7.25  ,   3.    ,   1.    ,  22.    ,   1.    ],
       [ 71.2833,   1.    ,   1.    ,  38.    ,   1.    ],
       [  7.925 ,   3.    ,   1.    ,  26.    ,   0.    ],
       ...,
       [ 23.45  ,   3.    ,   1.    ,      nan,   1.    ],
       [ 30.    ,   1.    ,   1.    ,  26.    ,   0.    ],
       [  7.75  ,   3.    ,   1.    ,  32.    ,   0.    ]])

In [21]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy = 'mean', axis=0)
x = imp.fit_transform(x)
x

array([[  7.25      ,   3.        ,   1.        ,  22.        ,   1.        ],
       [ 71.2833    ,   1.        ,   1.        ,  38.        ,   1.        ],
       [  7.925     ,   3.        ,   1.        ,  26.        ,   0.        ],
       ...,
       [ 23.45      ,   3.        ,   1.        ,  29.69911765,   1.        ],
       [ 30.        ,   1.        ,   1.        ,  26.        ,   0.        ],
       [  7.75      ,   3.        ,   1.        ,  32.        ,   0.        ]])

In [24]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(criterion='entropy', max_depth=3)
dt.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [25]:
dt.feature_importances_
dt.score(x,y)

array([ 0.19420301,  0.47261584,  0.        ,  0.22166836,  0.11151279])

0.72166105499438837

In [28]:
# Testing the model with Test Data 
test.head(3)
test['Sex']= np.where(test.Sex=='male', 1, 0)
test.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q

In [30]:
xts = test[cols].values
xts = imp.fit_transform(xts)
ypr = dt.predict(xts)

In [31]:
dt1 = DecisionTreeClassifier(max_depth = 3, criterion = 'entropy', random_state=1)
dt2 = DecisionTreeClassifier(max_depth = 3, criterion = 'gini', random_state =1)
dt3 = DecisionTreeClassifier(min_samples_split=5, max_depth = 10, random_state=1)

dt1.fit(x,y)
dt2.fit(x,y)
dt3.fit(x,y)

print('Mean Accuracy:\t Featture Importances')
print(np.round(dt1.score(x,y), 2), '\t\t', np.round(dt1.feature_importances_, 2))
print(np.round(dt2.score(x,y), 2), '\t\t', np.round(dt2.feature_importances_, 2))
print(np.round(dt3.score(x,y), 2), '\t\t', np.round(dt3.feature_importances_, 2))

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

Mean Accuracy:	 Featture Importances
0.72 		 [ 0.19  0.47  0.    0.22  0.11]
0.72 		 [ 0.19  0.51  0.    0.19  0.11]
0.82 		 [ 0.38  0.22  0.    0.33  0.08]

## Random Forest

In [38]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10, max_depth=10, min_samples_split=2)
rf.fit(x,y)
np.round(rf.feature_importances_, 2)
np.round(rf.score(x,y), 4)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

array([ 0.4 ,  0.14,  0.  ,  0.4 ,  0.07])

0.86870000000000003